<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>$$ HOTTEL Manasa $$</h1>
        <h2>biriyani is very tastiest food </h2>
        <h3><a href="{% url 'food:sweet' %}">about sweets</a></h3>
        <h3><a href="{% url 'drinks:teachers' %}">about Teachers</a></h3>
        <h3><a href="{% url 'drinks:redwine' %}">about Redwine</a></h3>
    </center>
</body>
</html>