<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center> 
        <h1>The brand name is: TEACHERS</h1>
        <h2>This brand is created for only teachers</h2>
        <h3><a href="{% url 'drinks:redwine' %}">about Redwine</a></h3>
        <h3><a href="{% url 'food:hott' %}">about Hottel Manasa</a></h3>
        <h3><a href="{% url 'food:sweet' %}">about Gopal Sweets</a></h3>
    </center>
</body>
</html>